.category-card {
    height: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.category-card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
    display: block;
}

.category-card:hover img {
    transform: scale(1.1);
}

/* Luôn hiển thị overlay-text */
.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: white;
}

.overlay-text h3,
.overlay-text p {
    margin: 0;
}

.btn-light {
    font-weight: 500;
}